body img {
    width: 350px;
}

/* the black overlay takes up the entire screen, with
a transparent circle acting as the flashlight */


/* html element */
:root:before {
    /* include these before js to make sure it's working (flashlight won't move)
    --cursorX = 50vw;
    --cursorY = 50vh;
     */
    cursor: none;
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient( /* https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
        circle 10vmax at var(--cursorX) var(--cursorY), /* these variables are updated in actions.js */
        rgba(0,0,0,0),
        rgba(0,0,0,1)
    ) 
}